body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #427D49;
}

.text {
  color: white;
  font-size: 20px;
  margin-right: 30px;
}


@media screen and (min-width: 800px) {



  
}