body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #427D49;
}

header {
  width: 100%;
  height: 70px;
  background-color: rgb(19, 18, 18);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: white;
  font-size: 20px;
  margin-right: 30px;
  

}

.image {

  height: 60px;
  width: auto;
  margin-left: 30px;
}

.background {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.background img {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  min-height: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  place-items: center;
  gap: 20px;
  margin: 50px 0;
}

.card {
  width: 95%;
  height: 150px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transition: all 0.3s ease-in-out;
  background-color: #427D49;
  color: white;
}

.card-img {
  width: 55%;
  margin-left: 20px;
}

.card-img img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  
}

.card-text p {
  color: white;
  font-size: 21px;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

footer img {
  height: 80%;
  width: auto;
}

footer p {
  display: none;
}

.absolute {
  width: 40px;
  height: 40px;
  background-color: rgb(173, 173, 173);
  border-radius: 80%;
  position: absolute;
  right: -20px;
  top: -20px;
}

.points {
  margin: 0;
  margin-left: 7px;
  margin-top: 4px;
}

@media screen and (min-width: 800px) {
  header {
      justify-content: center;
  }

  .image {
  height: 70px;
  }

  .text {
      display: none;
  }

  .background img {
      width: 80%;
      height: 500px;
      background-size: contain;
      background-repeat: no-repeat;
  }

  .card-img img {
      width: 80%;
      height: 80%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
  }

  .card {
      height: 200px;
      flex-direction: column;
      justify-content: center;
  }
  
  .card-img {
      height: 80%;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .card-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20%;
      width: 100%;
      padding-bottom: 10px;
      
  }

  .card-text p {
      margin: 0;
  }

  footer p {
      display: flex;
      font-size: 25px;
      color: aliceblue;
      margin-left: 400px;
  }

}